/* Styles for the reservation page content */
.reservation_page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

textarea {
    resize: none;
}

button {
    background-color: #5bd3ca;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45b9ad;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .reservation_page {
        padding: 15px;
    }

    input, select, textarea {
        font-size: 14px;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .reservation_page {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    input, select, textarea {
        font-size: 12px;
    }

    button {
        padding: 10px;
        font-size: 12px;
    }
}
